/* GLOBAL STYLES/CLASSES */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }


/* NAVBAR */
.nav-item {
    padding: 1rem;
}

.navbar-light .nav-item .nav-link {
    color: #7bdecb;
    font-size: 1.25rem;
    transition: 0.2s all ease-in-out;
}

.navbar-light .nav-item .nav-link:hover,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    color: #fc43d4;
}



/* CAROUSEL */
.carousel-inner {
    max-height: 750px;
}

.carousel-caption {
    width: 100%;
    right: 0;
    left: 0;
}

.carousel-caption-item{
    display: flex;
    justify-content: space-between;
}

.carousel-item img{
    height: 650px;
}

.read-more-btn {
    padding: 4rem;
    margin-right: 3rem;
    right: 0;
    border-radius: 50%;
    background: #7BDECB;
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
    transition: .2s ease-in-out;
}

.read-more-btn:hover{
    background-color: #68bdac;
    text-decoration: none;
    color: #fff;
}

.carousel-img-textbox {
    text-align: left;
    width: 35%;
    background-color: #F98FA0;
    padding: 2rem;
}

.carousel-img-textbox h2 {
    font-weight: bold;
}

.carousel-indicators li {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #bfc3c7;
    margin: 0 1rem;
}

.carousel-indicators .active {
    background-color: #bfc3c7;
}